body {
    margin: 0;
    width: 1536px;
    height: 2048px;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#split__top {
    height: 50%;
    background-image: url('../img/top.png');
    background-repeat: no-repeat;
}

#split__bottom {
    flex: 1;
    padding-top: 200px;
    background-image: url('../img/notepad-header.png');
    background-repeat: no-repeat;
}

#split__bar {
    width: 100%;
    height: 10px;
    cursor: row-resize;
    background-color: white;
    position: relative;
}

#split__bar #split__thumb {
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

textarea {
    width: 1200px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 30px;
    margin-left: 168px;
}
