body {
    margin: 0;
    background-image: url('../background/Landscape.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#sample {
    position: relative;
    background-image: url("../background/popup.png");
    height: 766px;
    width: 692px;
    padding-top: 35px;
    padding-bottom: 35px;
}

#button {
    height: 390px;
    width: 415px;
    position: absolute;
    right: 6px;
    top: 908px;
}

canvas {
    outline: none;
}

#cover {
    position: absolute;
    height: 100px;
    width: 200px;
    background: #171717;
    z-index: 10;
    top: 35px;
}

#close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
}

@media (max-width:1536px){
    body{
        background-image: url('../background/Portrait.jpg')
    }
    #button {
        height: 420px;
        width: 415px;
        position: absolute;
        right: 18px;
        top: 995px;
    }
}


.arc-text {
    font: 16px sans-serif;
}

.arc-center {
    fill: none;
}
#clock {
    float: right;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: calc(50vh - 400px); /* Location of the box */
    padding-left: calc(50vw - 350px); /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: .3s;
    animation-name: animatetop;
    animation-duration: .3s
}


#accept {
    position: absolute;
    top: 170px;
    left: 535px;
    width: 250px;
    height: 70px;
}