body {
    margin: 0;
    background-color: #171717;
    width: 2048px;
    height: 1536px;
    overflow:hidden;
}

#portrait_bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#landscape_bg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#sample {
    background-color: #f9f9f9;
    height: 1536px;
    width: 100%;
    max-width: 0;
    transition: max-width 1s;
    position: absolute;
    top: 0;
    right: 0;
}

#button {
    height: 390px;
    width: 415px;
    position: absolute;
    right: 6px;
    top: 908px;
}

#trigger {
    position: absolute;
    height: 100px;
    width: 100px;
    right: 148px;
    top: 105px;
    z-index: 1;
}


canvas {
    outline: none;
}

#headerbar {
    background-image: url("../background/headerbar.png");
    background-repeat: repeat-y;
    height: 52px;
}

#cover {
    position: absolute;
    height: 100px;
    width: 200px;
    background: #BDBDBD;
    z-index: 10;
    top: 52px;
}

#exit {
    background-image: url("../background/button.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 52px;
    width: 173px;
    position: absolute;
    top: 0;
    left: 20px;
}

#workflow {
    background-image: url("../background/workflow.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 52px;
    width: 209px;
    position: absolute;
    top: 0;
    right: 20px;
}

@media (max-width:1536px){

    body {
        width: 1536px;
        height: 2048px;
    }

    #portrait_bg {
        display: block;
    }

    #landscape_bg {
        display: none;
    }

    #button {
        display: none;
    }

    #trigger {
        right: 105px;
        top: 145px;
        height: 140px;
        width: 125px;
    }
}


.arc-text {
    font: 16px sans-serif;
}

.arc-center {
    fill: none;
}
#clock {
    float: right;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: calc(50vh - 400px); /* Location of the box */
    padding-left: calc(50vw - 350px); /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: .3s;
    animation-name: animatetop;
    animation-duration: .3s
}

#emailbox {
    background-image: url("../img/email_box.png");
    height: 1086px;
    width: 1340px;
    position: absolute;
    top: 250px;
    left: 450px;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    z-index: 3;
    display: none;
}

.index {
    position: absolute;
    height: 135px;
    width: 406px;
    right: 90px;
}
.index.active:before {
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
}
.index.active:before {
    border-right: 30px solid #465794;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    left: -30px;
    bottom: 40px;
}
#index1 {
    top: 133px;
}
#index2 {
    top: 270px;
}
#index3 {
    top: 407px;
}
#index4 {
    top: 544px;
}
#index5 {
    top: 681px;
}
#index6 {
    top: 816px;
}
#index7 {
    top: 953px;
}
#emailcontent {
    position: absolute;
    height: 1041px;
    width: 841px;
    top: 45px;
    left: 0;
    background-image: url("../emails/1.jpg");
    background-size: cover;
}
#emailclose {
    position: absolute;
    height: 45px;
    width: 120px;
    top: 0;
    left: 0;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#split__top {
    height: 50%;
}

#split__bottom {
    flex: 1;
    padding-top: 200px;
    background-image: url('../img/notepad-header.png');
    background-repeat: no-repeat;
    background-color: white;
    display: none;
}

#split__bar {
    width: 100%;
    height: 10px;
    cursor: row-resize;
    background-color: white;
    position: relative;
    display: none;
}

#split__bar #split__thumb {
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

textarea {
    width: 1200px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 30px;
    margin-left: 168px;
}

#myDiagramDiv {
    background-color: #BDBDBD;
}
