body {
    margin: 0;
    background-color: #171717;
    width: 2048px;
    height: 1536px;
    overflow:hidden;
}

#portrait_bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

#landscape_bg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

#sample {
    background-color: #f9f9f9;
    height: 1536px;
    width: 100%;
    max-width: 0;
    transition: max-width 1s;
    position: absolute;
    top: 0;
    right: 0;
}

#button {
    height: 390px;
    width: 415px;
    position: absolute;
    right: 6px;
    top: 908px;
}

canvas {
    outline: none;
}

#headerbar {
    background-image: url("../background/headerbar.png");
    background-repeat: repeat-y;
    height: 52px;
}

#cover {
    position: absolute;
    height: 100px;
    width: 200px;
    background: #f9f9f9;
    z-index: 10;
    top: 52px;
}

#exit {
    background-image: url("../background/button.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 52px;
    width: 173px;
    position: absolute;
    top: 0;
    left: 20px;
}

#workflow {
    background-image: url("../background/workflow.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 52px;
    width: 209px;
    position: absolute;
    top: 0;
    right: 20px;
}

@media (max-width:1536px){

    body {
        width: 1536px;
    }

    #portrait_bg {
        display: block;
    }

    #landscape_bg {
        display: none;
    }

    #button {
        display: none;
    }
}


.arc-text {
    font: 16px sans-serif;
}

.arc-center {
    fill: none;
}
#clock {
    float: right;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: calc(50vh - 400px); /* Location of the box */
    padding-left: calc(50vw - 350px); /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: .3s;
    animation-name: animatetop;
    animation-duration: .3s
}

