.text-white {
    color: white;
}

body {
    margin: 0;
    width: 2048px;
    height: 1536px;
    overflow: hidden;
    background-color: #1c1f23;
}

#header {
    width: 2048px;
    height: 400px;
    background-image: url('../img/header.png');
    background-size: cover;
}

#spin-cover {
    position: absolute;
    height: 105px;
    width: 96px;
    right: 80px;
    top: 151px;
    background-image: url('../img/hive_spin.gif');
    background-repeat: no-repeat;
    background-color: #1c1f23;
}

#subheader {
    width: 2048px;
    height: 80px;
    background-image: url('../img/header-1.png');
    background-size: cover;
}

#main {
    width: 2048px;
    height: 1056px;
    display: flex;
}

#side {
    width: 493px;
    height: 1056px;
    overflow-y: scroll;
    background-color: #1c1f23;
}

#slides {
    background-image: url('../img/sidebar.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 468px;
    height: 1711px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #31b2ce;
}




#content {
    width: 1555px;
    height: 1056px;
}


#videoDiv {
    width: 1555px;
    height: 1056px;
    position: absolute;
    z-index: -1;
}

#video {
    width: 1502px;
    height: 986px;
    margin: 35px 26px;
    object-fit: cover;
}

#canvas {
    position: absolute;
    z-index: 1;
}

#emailbox {
    background-image: url("../img/email_box.png");
    height: 1086px;
    width: 1340px;
    position: absolute;
    top: 0;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
#drag-1, #drag-2 {
    width: 25%;
    min-height: 6.5em;
    margin: 10%;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    position: absolute;
    top: 0;
}
