.text-white {
    color: white;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#landscape_bg {
    width: 2048px;
    height: 1536px;
    overflow: hidden;
    background-color: #1c1f23;
}

#portrait_bg {
    width: 1536px;
    height: 2048px;
    overflow: hidden;
    display: none;
}

#header {
    width: 2048px;
    height: 400px;
    background-image: url('../img/header.png');
    background-size: cover;
}

#spin-cover {
    position: absolute;
    height: 105px;
    width: 96px;
    right: 80px;
    top: 151px;
    background-image: url('../img/hive_spin.gif');
    background-repeat: no-repeat;
    background-color: #1c1f23;
}

#subheader {
    width: 2048px;
    height: 80px;
    background-image: url('../img/header-1.png');
    background-size: cover;
}

#main {
    width: 2048px;
    height: 1056px;
    display: flex;
}

#side {
    width: 493px;
    height: 1056px;
    overflow-y: scroll;
    background-color: #1c1f23;
}

#slides {
    background-image: url('../img/sidebar.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 468px;
    height: 1711px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #31b2ce;
}




#content {
    width: 1555px;
    height: 1056px;
}


#videoDiv {
    width: 1555px;
    height: 1056px;
    position: absolute;
    z-index: 1;
}

#video {
    width: 1502px;
    height: 986px;
    margin: 35px 26px;
    object-fit: cover;
}

#canvas {
    position: absolute;
    z-index: 2;
}

#emailbox {
    background-image: url("../img/email_box.png");
    height: 1086px;
    width: 1340px;
    position: absolute;
    top: 250px;
    left: 450px;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    z-index: 3;
    display: none;
}

.index {
    position: absolute;
    height: 135px;
    width: 406px;
    right: 90px;
}
.index.active:before {
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
}
.index.active:before {
    border-right: 30px solid #465794;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    left: -30px;
    bottom: 40px;
}
#index1 {
    top: 133px;
}
#index2 {
    top: 270px;
}
#index3 {
    top: 407px;
}
#index4 {
    top: 544px;
}
#index5 {
    top: 681px;
}
#index6 {
    top: 816px;
}
#index7 {
    top: 953px;
}
#emailcontent {
    position: absolute;
    height: 1041px;
    width: 841px;
    top: 45px;
    left: 0;
    background-image: url("../emails/1.jpg");
    background-size: cover;
}
#emailclose {
    position: absolute;
    height: 45px;
    width: 120px;
    top: 0;
    left: 0;
}
@media (max-width:1536px){
    #landscape_bg {
        display: none;
    }
    #portrait_bg {
        display: block;
    }
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#split__top {
    height: 2048px;
    background-image: url('../img/top.png');
    background-repeat: no-repeat;
    transition: height 1s;
}

#split__bottom {
    flex: 1;
    background-image: url('../img/notepad-header.png');
    background-repeat: no-repeat;
    display: none;
}

#split__bar {
    width: 100%;
    height: 10px;
    cursor: row-resize;
    background-color: white;
    position: relative;
    display: none;
}

#split__bar #split__thumb {
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

textarea {
    width: 1200px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 30px;
    margin-left: 168px;
    margin-top: 200px;
    display: none;
}
