body {
    margin: 0;
    overflow: hidden;
    width: 1536px;
}

#portrait_bg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

#landscape_bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

#slider {
    display: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 1219px; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal.hide {
    height: 0;
    transition: height 1s;
}

@keyframes animatebottom {
    to {bottom:-800px; opacity:0}
    from {bottom:0; opacity:1}
}

@keyframes animatetop {
    from {bottom:-800px; opacity:0}
    to {bottom:0; opacity:1}
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
    animation-name: animatetop;
    animation-fill-mode: backwards;
    animation-duration: 1s
}

#signature {
    width: 1536px;
    height: 829px;
    max-height: 0;
    background-image: url("../img/signature.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    transition: max-height 1s ease-in-out;
}

#pad {
    height: 210px;
    width: 885px;
    position: absolute;
    bottom: 200px;
    right: 280px;
}

#send {
    height: 45px;
    width: 145px;
    position: absolute;
    bottom: 138px;
    right: 175px;
}

.range {
    -webkit-appearance: none;
    position: absolute;
    top: 354px;
    left: 1909px;
    width: 1090px;
    transform: rotate(90deg);
    transform-origin: left;
}

.range:focus {
     outline: none;
 }

.range::-webkit-slider-runnable-track {
     width: 100%;
     height: 0px;
     cursor: pointer;
     box-shadow: none;
     background: #ffffff;
     border-radius: 0px;
     border: 0px solid #010101;
 }

.range::-webkit-slider-thumb {
     box-shadow: none;
     border: 0px solid #ffffff;
     box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
     height: 247px;
     width: 247px;
     border-radius: 50%;
     background-image: url("../img/slider_thmub.png");
     cursor: pointer;
     -webkit-appearance: none;
     margin-top: -124px;
 }

@media (min-width:1537px){

    #slider {
        display: block;
    }

    #portrait_bg {
        display: none;
    }

    #landscape_bg {
        display: block;
    }

    #signature {
        display: none;
    }
}
