body {
    margin: 0;
    overflow: hidden;
    width: 1536px;
    height: 2048px;
}

#portrait_bg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

#landscape_bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

#landscape_bg_video {
    position: absolute;
    z-index: -1;
}

#landscape_header {
    background-image: url("../img/landscape_header.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    width: 2048px;
}

#landscape_footer {
    background-image: url("../img/landscape_footer.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    width: 1774px;
}

#landscape_main {
    width: 1774px;
    height: 886px;
}

#slider {
    display: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 1219px; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal.hide {
    height: 0;
    transition: height 1s;
}

@keyframes animatebottom {
    to {bottom:-800px; opacity:0}
    from {bottom:0; opacity:1}
}

@keyframes animatetop {
    from {bottom:-800px; opacity:0}
    to {bottom:0; opacity:1}
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
    animation-name: animatetop;
    animation-fill-mode: backwards;
    animation-duration: 1s
}

#signature {
    width: 1536px;
    height: 829px;
    max-height: 0;
    background-image: url("../img/signature.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    transition: max-height 1s ease-in-out;
}

#pad {
    height: 210px;
    width: 885px;
    position: absolute;
    top: 430px;
    right: 280px;
}

#send {
    height: 45px;
    width: 145px;
    position: absolute;
    bottom: 138px;
    right: 175px;
}

.range {
    -webkit-appearance: none;
    position: absolute;
    top: 354px;
    left: 1909px;
    width: 1090px;
    transform: rotate(90deg);
    transform-origin: left;
    background: red;
}

.range:focus {
     outline: none;
 }

.range::-webkit-slider-runnable-track {
     width: 100%;
     height: 0px;
     cursor: pointer;
     box-shadow: none;
     background: #ffffff;
     border-radius: 0px;
     border: 0px solid #010101;
 }

.range::-webkit-slider-thumb {
     box-shadow: none;
     border: 0px solid #ffffff;
     /*box-shadow: 0px 10px 10px rgba(0,0,0,0.25);*/
     height: 247px;
     width: 247px;
     border-radius: 50%;
     background-image: url("../img/slider_thmub.png");
     cursor: pointer;
     -webkit-appearance: none;
     margin-top: -124px;
 }

@media (min-width:1537px){
    body {
        width: 2048px;
        height: 1536px;
    }

    #slider {
        display: block;
    }

    #portrait_bg {
        display: none;
    }

    #landscape_bg {
        display: block;
    }

    #signature {
        display: none;
    }

    #slider_bg {
        height: 123.5px;
        width: 140px;
        position: absolute;
        bottom: 90px;
        right: 66px;
        background-color: hsl(60, 100%, 50%);
        opacity: .3;
    }

    #emailbox {
        display: none;
    }

    #trigger {
        display: none;
    }
}

#emailbox {
    background-image: url("../img/email_box.png");
    height: 1086px;
    width: 1340px;
    position: absolute;
    top: 25%;
    left: 6%;
    touch-action: none;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    z-index: 3;
    display: none;
}

.index {
    position: absolute;
    height: 135px;
    width: 406px;
    right: 90px;
}
.index.active:before {
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
}
.index.active:before {
    border-right: 30px solid #465794;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    left: -30px;
    bottom: 40px;
}
#index1 {
    top: 133px;
}
#index2 {
    top: 270px;
}
#index3 {
    top: 407px;
}
#index4 {
    top: 544px;
}
#index5 {
    top: 681px;
}
#index6 {
    top: 816px;
}
#index7 {
    top: 953px;
}
#emailcontent {
    position: absolute;
    height: 1041px;
    width: 841px;
    top: 45px;
    left: 0;
    background-image: url("../emails/1.jpg");
    background-size: cover;
}
#emailclose {
    position: absolute;
    height: 45px;
    width: 120px;
    top: 0;
    left: 0;
}

#trigger {
    position: absolute;
    top: 160px;
    right: 90px;
    height: 100px;
    width: 100px;
    z-index: 5;
}
