body {
    margin: 0;
    width: 1536px;
    height: 2048px;
    overflow: hidden;
}

#header {
    width: 1536px;
    height: 415px;
    background-image: url("../img/header.jpg");
}

#main {
    width: 1536px;
    height: 583px;
    background-image: url("../img/main.jpg");
}

#terminal {
    width: 1536px;
    height: 998px;
    opacity: 0;
    max-height: 0;
    -webkit-transition: max-height 0.5s ease-in-out;
    position: absolute;
    top:0;
}

#gear {
    background-image: url("../img/gear.jpg");
    width: 59px;
    height: 61px;
    position: absolute;
    top: -80px;
    right: 10px;
}

#progress {
    width: 1536px;
    height: 206px;
    background-image: url("../img/progress.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#progress.success{
    background-image: url("../img/success.gif");
}

#progress.error{
    background-image: url("../img/error.gif");
}

#footer {
    width: 1536px;
    height: 844px;
    background-image: url("../img/footer.jpg");
}