body {
    margin: 0;
    width: 1536px;
    height: 2048px;
    overflow: hidden;
}

#header {
    width: 1536px;
    height: 415px;
    background-image: url("../img/header.jpg");
}

#terminal {
    width: 1536px;
    height: 583px!important;
    position: relative;
}

#gear {
    background-image: url("../img/gear.jpg");
    width: 59px;
    height: 61px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#footer {
    width: 1536px;
    height: 1050px;
    background-image: url("../img/footer.jpg");
}